.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 1rem;
	position: relative;
}

.navbar::before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color: var(--background);
	filter: blur(50px);
}

.title {
	font-size: xx-large;
}

.auth {
	cursor: pointer;
	text-decoration: none;
}

.auth:hover {
	text-decoration: underline;
}
