@import url("https://fonts.googleapis.com/css2?family=Oswald&family=Source+Sans+3&display=swap");

:root {
	--text: #ebeae5;
	--background: #060504;
	--primary: #4b5163;
	--secondary: #24212c;
	--accent: #7c949c;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.text-regular {
	color: var(--text);
	font-family: "Oswald", sans-serif;
}

.text-bold {
	color: var(--text);
	font-family: "Source Sans 3", sans-serif;
	font-weight: bold;
}
